{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block head_inners %}

{% endblock %}

{% block main_content %}
    <form id="login-form" action="/login" method="POST">
        <input class="form-control" required type="text" name="username" placeholder="Lietotājvārds"></input>
        <input class="form-control" required type="password" name="password" placeholder="Parole"></input>
        <input style="width: 100%;" class="btn btn-primary" type="submit" value="Pieslēgties"></input>
    </form>
{% endblock %}