{% extends "layout.html" %}

{% block head_inners %}
{% endblock %}

{% block main_content %}
<h1>Tavi sūtījumi</h1>
{% if orders %}
<table class="table">
  <tr>
    <th>Pasūtījuma datums</th>
    <th>Produkts</th>
    <th>Daudzums</th>
    <th>Izmaksas</th>
  </tr>
  {% for order in orders %}
  <tr>
    <td>{{ order[1] }}</td>
    <td>{{order[5]}}</td>
    <td>{{ order[3] }}</td>
    <td>{{ order[4] }}€</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>Nav pasūtījumu</p>
{% endif %}
{% endblock %}