{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block head_inners %}

{% endblock %}

{% block main_content %}
<form id="register-form" action="/register" method="POST">
    <input class="form-control" required type="text" name="username" placeholder="Lietotājvārds"></input>
    <input class="form-control" required type="password" name="password" placeholder="Parole" minlength="8"></input>
    <input class="form-control" required type="password" name="password-check" placeholder="Atkārtota parole" minlength="8"></input>
    <input class="form-control" required type="text" name="first-name" placeholder="Vārds"></input>
    <input class="form-control" required type="text" name="last-name" placeholder="Uzvārds"></input>
    <input class="form-control" type="text" name="e-mail" placeholder="E-pasts"></input>
    <input class="form-control" type="text" name="phone" placeholder="Telefona numurs"></input>
    <input class="form-control" required type="text" name="address" placeholder="Adrese"></input>
    <input style="width: 100%;" class="btn btn-primary" type="submit" value="Piereģistrēties"></input>
</form>
{% endblock %}